extends layout

block content
    div.jumbotron
        div.container
            h1= message

            if error.status
                p= error.status

    div.container
        pre #{error.stack}
