extends layout

append javascripts
    script(type='text/javascript' src='/javascripts/controllers/AuthCtrl.js')

block content
    div.jumbotron
        div.container
            h1 Welcome to #{title}

    div.container
        div.row
            div.col-xs-6(ng-controller='AuthCtrl')
                h2 Authentication

                if errors.length
                    each error in errors
                        div.alert.alert-danger= error

                form#form(method='post' action='{{action}}')
                    div.form-group
                        label(for='username') Username
                        input.form-control(type='text' name='username' placeholder='Username')

                    div.form-group
                        label(for='password') Password
                        input.form-control(type='password' name='password' placeholder='Password')

                    button.btn.btn-primary(type='submit' ng-click='login()') Login
                    button.btn.btn-default(type='submit' ng-click='register()') Register

            div.col-xs-6
                h2 Statistics

                ul
                    li x registered users
                    li x online users
                    li x sent invitations
                    li x accepted invitations
