doctype html
html(ng-app='app')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title= title

        link(rel='stylesheet' href='/lib/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet' href='/stylesheets/layout.css')
        block stylesheets

        script(type='text/javascript' src='/lib/angular/angular.js')
        script(type='text/javascript' src='/javascripts/main.js')
        block javascripts

    body
        nav.navbar.navbar-default.navbar-fixed-top
            div(class='#{container}')
                div.navbar-header
                    a.navbar-brand(href='/') JS Fight
                div.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href='/lobby')
                                span.glyphicon.glyphicon-home(aria-hidden='true')
                                |  Home
                    if currentUser
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href='/logout')
                                    span.glyphicon.glyphicon-log-out(aria-hidden='true')
                                    |  Log out
                        p.navbar-text.navbar-right Signed in as #{currentUser.username}

        block content
