extends layout

append stylesheets
    link(rel='stylesheet' href='/stylesheets/lobby.css')

append javascripts
    script(type='text/javascript' src='/socket.io/socket.io.js')
    script(type='text/javascript' src='/javascripts/controllers/ScoresCtrl.js')
    script(type='text/javascript' src='/javascripts/controllers/GameCtrl.js')
    script(type='text/javascript' src='/javascripts/controllers/ChatCtrl.js')
    script(type='text/javascript' src='/javascripts/controllers/UsersCtrl.js')

block content
    div#container.container
        div.row
            include lobby/scores
            include lobby/game
            include lobby/chat
            include lobby/users
