extends layout

block javascripts
    script(type='text/javascript' src='/javascripts/controllers/AuthCtrl.js')

block content
    div.container-fluid
        div.row
            div.col-xs-4
                p ...
            div.col-xs-4
                p ...
            div.col-xs-4
                p ...
